<h2>Client</h2>
<p>Name: <%=@client.name %></p>
<p>Phone: <%=@client.phone %></p>
<p>Date Requested: <%=@client.datestamp %></p>
<p>Barber: <%=@client.barber %></p>
<p >Color: <span style="background-color: <%=@client.color %>"><%=@client.color %></span> </p>